body {
    background: #EFFBFB ;
    margin-left: 20px;
    margin-right: 220px;
}

header {
    margin-top: 30px;
}

h1 {
    color: blue;
    font-family: 'Franklin Gothic Medium';
}

h2 {
    color: blue;
    font-family: 'Franklin Gothic Medium';
}

p {
    font-size: 20px;
}

footer {
    margin-bottom: 30px;
}

img {
    margin-bottom: 20px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 500px;
}